.player{
	width: auto;
	border-radius: 5px;
	background-color: white;
	margin-top: 10px;
	box-shadow: 0 0 7px rgba(0, 0, 0, .37);
}
.player>.boxTitle{
	padding:5px 10px;
}
.playerContent{
	padding:10px;
}
.player ul{
	padding-left:25px;
	width: 100%;
}
.player li{
	/*text-align: center;*/
	margin-top: 10px;
	margin-bottom: 10px;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.player ul{
		padding:0;
		width: 100%;
	}
	.player li{
		text-align: center;
	}
}
.player .btn{
	width:80%;
}
.player .btn-primary{
	background-color: #2894FF;
	border-color: #2894FF;
}
