/*通用样式*/

/*滚动条*/
::-webkit-scrollbar{
	width:10px;
}
::-webkit-scrollbar-track{
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}
::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #2894FF;
}

.player{
	width: auto;
	border-radius: 5px;
	background-color: white;
	margin-top: 10px;
	box-shadow: 0 0 7px rgba(0, 0, 0, .37);
}
.player>.boxTitle{
	padding:5px 10px;
}
.playerContent{
	padding:10px;
}
#playerList ul{
	width: 100%;
}
#playerList li{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#playerList .btn{
	width:80%;
	padding:6px 6px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#playerList .btn-action{
	background-color: #2894FF;
	border-color: #2894FF;
	color: #fff;
}
.videoOrigin{
	margin-top:15px;
	margin-bottom: 15px;
}
.foot{
	text-align: center;
	margin-bottom:20px;
}
/*移动端样式*/
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.player ul{
		padding:0;
		width: 100%;
	}
	.player li{
		text-align: center;
	}
}