/*通用样式*/
.player{
	width: auto;
	border-radius: 5px;
	background-color: white;
	margin-top: 10px;
	box-shadow: 0 0 7px rgba(0, 0, 0, .37);
}
.player>.boxTitle{
	padding:5px 10px;
}
.playerContent{
	padding:10px;
}
#playerList ul{
	/*padding-left:25px;*/
	width: 100%;
}
#playerList li{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
#playerList .btn{
	width:80%;
}
#playerList .btn-primary{
	background-color: #2894FF;
	border-color: #2894FF;
}

/*移动端样式*/
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.player ul{
		padding:0;
		width: 100%;
	}
	.player li{
		text-align: center;
	}
}