/* 总体 */
.mainContainer{
	background-color: #e0e0e0;
	box-shadow: 0px 0px;
	margin:0 auto;
}
#top{
	
}
#searchBox{
	width:160px;
}
#anime{
	border-color: pink;
}
.navbar{
	margin-bottom: 0px;
}
/*左边盒子*/
.box{
	border-radius: 5px;
	background: white;
	margin-top:10px;
	box-shadow: 0 0 7px rgba(0, 0, 0, .37);
}
.boxTitle>h4{
	color: #2894FF;
	padding-bottom: 10px;
	margin-bottom: 0;
	border-bottom: 1px solid lightgray;
}
.boxTitle>h4::before{
	content:"";
	position: relative;
	border-radius: 3px;
	background-color: #2894FF;
	display: inline-block;
	width:7px;
	height:20px;
	left:-5px;
	top:4px;
}
.box>.boxTitle{
	padding: 5px 10px;
}
.boxContent{
	overflow: auto;
}
.boxContent li{
	float:left;
	width: calc(100% / 3);
	padding:0 10px;
}
.boxFoot{
	padding-bottom: 5px;
	padding-right: 15px;
}
.boxFoot a{
	color:#2894FF !important;
}
/*动画*/
#anime li img{
	width:100%;
	border-radius: 4px;
}
#anime li img:hover{
	border:3px solid #2894FF;
	width:calc(100% - 6px);
}
#anime li{
	text-align: center;

}
#anime a,#anime a:hover,#anime a:visited,#anime a:active{
	color:black;
	text-decoration: none;
}
